@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;600&display=swap');
:root {
    --orange: #ea5b29;
    --dark: #343e47;
    --background: #d1d1d1;
    --white: #fff;
    --tans01: all 500ms ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

li,
a {
    text-decoration: none;
    color: #343e47;
    font-weight: 500;
    font-size: 14px;
}

ul {
    list-style: none;
}


/* Navbar */

.header {
    background: url('/src/images/header.png') no-repeat center center/cover;
    height: 700px;
}

.navbar {
    background-color: #ffffff95;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.navbar #logo {
    width: 50px;
    cursor: pointer;
}

.navbar #chat-icon {
    width: 30px;
    cursor: pointer;
}

.navbar a {
    font-size: 16px;
    padding: 0 15px;
}

.navbar a:hover {
    color: var(--orange);
    transition: var(--tans01);
}


/* hero */

.hero-content {
    padding-top: 200px;
    padding-left: 300px;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 30px;
}