:root {
    --orange: #ea5b29;
    --dark: #343e47;
    --background: #d1d1d1;
}


/* colors */

.primary-text-color {
    color: var(--dark);
}


/* buttons */

.btn {
    cursor: pointer;
}

.btn-primary {
    font-size: 12px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    padding: 10px 10px !important;
    border-radius: 5px;
    margin-left: 15px;
}

.btn-primary:hover {
    background-color: var(--dark);
    transition: all 500ms ease-in-out;
}


/* flex property */

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}