:root {
    --orange: #ea5b29;
    --dark: #343e47;
    --background: #d1d1d1;
    --white: #fff;
    --tans01: all 500ms ease-in-out;
}


/* margins */

.ml-50 {
    margin-left: 50px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-50 {
    margin-right: 50px;
}


/* padding */

.pt-15 {
    padding-top: 15px;
}


/* text colors */

.text-primary {
    color: var(--dark);
}

.text-secondary {
    color: var(--orange);
}


/* buttons */

.btn {
    cursor: pointer;
}

.btn-primary {
    border: none;
    background-color: var(--orange);
    color: var(--white);
    padding: 10px 15px !important;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: var(--dark);
    color: #fff !important;
    transition: var(--tans01);
}


/* flex property */

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}